.bubble {
  display: inline-block;
  width: 152px;
  height: 152px;
  margin: 8px;
  border-radius: 50%;
  box-shadow: 
    0 15px 35px rgba(0, 0, 0, 0.1),
    0 3px 10px rgba(0, 0, 0, 0.1);
  background-image: url(../images/jpgs/sprite_sheet.png);
  background-size: 1000px 1335px;
}

.dosa {
  background-position:204 536px;
}

.green_lotus.jpg {
  background-position: 528 966px;
}

.hibi {
  background-position: 0 810px;
}
.hibi_1 {
  background-position: 604 538px;
}

.smallsun {
  background-position: 804 0px;
}
.sun_flower {
  background-position: 602 0px;
}

.small_methi {
  background-position: 0 268px;
}
.methi{
  background-position: 804 0px;
}

.tulasi {
  background-position: 0 0px;
}
.tom {
  background-position: 214 0px;
}

.pom {
  background-position:210  268px;
}
.ladybug {
  background-position: 0 550px;
}

.cosmos {
  background-position: 400 1068px;
}
.dragon_fly {
  background-position: 0 1086px;
}

.mari.jpg {
  background-position: 0 -308px;
}
.mirchi {
  background-position: 0 -154px;
}

.swiss {
  background-position: 0 -308px;
}

.greenhouse{
 background-position: 222 804px;
}
.green1{
 background-position: 804 806px;
}

body {
  background: #E6EEF7;
  padding: 8px;
}
