
body{
    margin:0;
    justify-content: center;
}
.main-container{
    display:grid;
    
    align-items:center;
    height:100vh;
    justify-content:center;
    background-image: url("https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG11c2ljfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    opacity:0.8 ;
      
}

.song-container{ 
    display:grid; 
    grid-template-columns:auto auto auto;
    position: relative;    
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border:solid black 2px;
    border-radius: 10px;
    min-width: 600px;
    min-height: 150px;
    opacity: 1; 
    /* margin: 10px 10px;  */
    scrollbar-3dlight-color: blueviolet;
    
    
}

.title p{
    /* background-color:rgb(232, 160, 160); */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    
}
/* .write-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    } */
/* .meaning {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    } */

.audio{
    /* background-color:rgb(114, 22, 212); */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px 10px;
    }



.song-container.active{  
    block-size: 15%;
    position: relative; 
    padding: 25px;  
   
}


 .text-container1{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background: rgb(178, 21, 192);
    margin:10px 10px;
    padding:10px 10px;
    font-family: cursive;
    color:black;
    letter-spacing: 2px;
    font-weight:bold;
    border:solid black 2px;
    border-radius: 10px;
    text-shadow: none;
    overflow-y: scroll;
    
    max-height: 100px;
    max-width: 500px;

    
} 
.text-container2{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background: rgb(62, 114, 48);
    margin:10px 10px;
    padding:10px 10px;
    font-family: cursive;
    color:black;
    letter-spacing: 2px;
    font-weight:bold;
    border:solid black 2px;
    border-radius: 10px;
    text-shadow: none;
    overflow-y: scroll;
 
    max-height: 100px;
    max-width: 500px;
    
} 

.text-container1.active{
    visibility: hidden;
    max-width: 500px;

}

.text-container2.active{
    visibility: hidden;
    max-width: 500px;
} 
.write-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    position: absolute; 
    /* padding: 10px 10px; */
    top: 25px;
    right:20px;
    color:white;
    cursor:pointer;
    
}
.meaning{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;  */
    /* padding: 10px 10px; */
    top: 2px;
    right: 35px;
    color:white;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    
}
.meaning.active{
    color : rgb(0, 255, 76);
}
.write-icon.active{
    color : rgb(0, 255, 76);
}
.audio{
    /* position:absolute; */
    /* top:80px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio.active{
    /* position: absolute; */
    /* top:80px; */
    color:white;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
 
}
@media(max-width:991px){
    .container{
         max-width: 500px;
         min-width: 500px;
          
    }
    
}
h4{
    white-space: nowrap;
    max-width: 500px;
    padding: 0px 2px;

}

.container4{
    display:grid;
   
}


.prev{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.next{
    display:flex;
    align-items: center;
    justify-content: right;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}