.main-container{
    
    padding: 180px;
}
 
  #comment-form{
    display : grid;
    grid-template-rows: auto auto auto;
    gap:10px;
  }
  .grid-item1{
    padding: 20px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    border-radius: 10px;
  }

  .author-name  {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .author{
    text-transform:capitalize;
    font-weight: bold;
  }
  .grid-item2{
    padding: 20px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    border-radius: 10px;
  }
  .input-text {
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

/* Add focus effect */
.input-text:focus {
    border-color: #2E7D32;
    outline: none;
}

textarea {
  width: 100%;
    max-width: 500px;
    height: 150px; /* Allow users to resize height */
}

.button {
  width: auto;
  min-width: 100px;
  padding: 12px 20px;
  padding: 15px 0;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.button:hover {
  background-color: #c82333;
}

